/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.calculator .display {
  width: 100%;
  padding: 20px;
  font-size: 25px;
  text-align: right;
  background: #222;
  border: none;
  color: #fff;
}

.calculator .keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 25px;
}

.keys button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  background: #222;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.keys button:hover {
  background: #333;
}

.keys button:nth-child(4n + 1),
.keys button:nth-last-child(-n + 4) {
  background: orange;
}
